# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Site Configuration (Set to your local dev port e.g. http://localhost:3002 or production URL)
NEXT_PUBLIC_SITE_URL=http://localhost:3002
